/* ================= Common CSS Start Here ================= */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p, li{
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

:root{
    --interFont: 'Inter', sans-serif;
    --headlineText: 40px;
    --paragraphText: 16px;
}
/* ================= Common CSS End Here ================= */

/* ================= Header CSS Start Here ================= */
#header{
    padding: 34px 0px;
}

#header .header_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .header_main .header_menu ul{
    display: flex;
    column-gap: 50px;
}

#header .header_main .header_menu ul li a{
    color: #181818;
    font-family: var(--interFont);
    font-size: 18px;
    font-weight: 500;
    transition: all linear 0.3s;
}

#header .header_main .header_menu ul li a:hover{
    color: #5956E8;
}

#header .header_main .header_btn a{
    padding: 13px 24px;
    color: #FFF;
    font-family: var(--interFont);
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    background: #5956E8;
    transition: all linear 0.3s;
}
#header .header_main .header_btn a:hover{
    background: #2a2892;
}
/* ================= Header CSS End Here ================= */

/* ================= Banner CSS Start Here ================= */
#banner{
    padding-top: 182px;
    padding-bottom: 182px;
    background: #5956E8;
}

#banner .banner_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 148px;
}

#banner .banner_main .banner_left{
    margin-top: 55px;
}

#banner .banner_main .banner_left h3{
    color: #FFFEFE;
    font-family: var(--interFont);
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
    padding-bottom: 25px;

}

#banner .banner_main .banner_left p{
    color: #FFF;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 30px;
}

#banner .banner_main .banner_left a{
    color: #5956E8;
    font-family: var(--interFont);
    font-size: 18px;
    font-weight: 500;
    padding: 13px 22px;
    border-radius: 10px;
    background: #FFF;
    transition: all linear 0.3s;
}

#banner .banner_main .banner_left a:hover{
    background: #171680;
    color: #fff;
}
/* ================= Banner CSS End Here ================= */

/* ================= Service CSS Start Here ================= */
#service{
    padding-top: 100px;
}

#service .service_head{
    text-align: center;
}

#service .service_head h3{
    color: #181818;
    font-family: var(--headlineText);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

#service .service_head p {
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 318px;
}

#service .service_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#service .service_main .service{
    margin-top: 50px;
    transition: all linear 0.3s;
    padding: 63px 48px;
    border-radius: 10px;
    border: 0.5px solid #E3E3E3;
    width: 370px;
    height: 385px;
    transition: all linear 0.3s;
    cursor: pointer;
}

#service .service_main .service:hover{
    box-shadow: 0px 6px 35px 0px #00000014;
    border: transparent;
}

#service .service_main .service .svgs{
    padding: 17px;
    border-radius: 10px;
    border: 0.5px solid #5956E8;
    display: inline-block;
    margin-bottom: 47px;
    transition: all linear 0.3s;
}

#service .service_main .service .svgs svg path{
    fill: #5956E8;
    transition: all linear 0.3s;
}

#service .service_main .service:hover .svgs{
    background: #5956E8;
}

#service .service_main .service:hover .svgs svg path{
    fill: #fff;
}

#service .service_main .service h3 {
    color: #181818;
    font-family: var(--interFont);
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}

#service .service_main .service p {
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-right: 33px;
}
/* ================= Service CSS End Here ================= */

/* ================= Portfolio CSS Start Here ================= */
#portfolio{
    padding-top: 100px;
}

#portfolio .portfolio_head{
    text-align: center;
}

#portfolio .portfolio_head h3{
    color: #181818;
    font-family: var(--headlineText);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

#portfolio .portfolio_head p {
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 318px;
}

#portfolio .portfolio_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#portfolio .portfolio_main .portfolio_img{
    margin-top: 50px;
    cursor: pointer;
    position: relative;
    transition: all linear 0.3s;
}

#portfolio .portfolio_main .portfolio_img .portfolio_hover{
    position: absolute;
    text-align: center;
    padding: 25px 40px;
    background: transparent;
    border-radius: 10px;
    top: 50%;
    left: 8%;
    transition: all linear 0.3s;
}

#portfolio .portfolio_main .portfolio_img .portfolio_hover h3{
    color: transparent;
    text-align: center;
    font-family: var(--interFont);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    padding-bottom: 10px;
    transition: all linear 0.3s;
}

#portfolio .portfolio_main .portfolio_img .portfolio_hover p {
    color: transparent;
    text-align: center;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-right: 10px;
    transition: all linear 0.3s;
}

#portfolio .portfolio_main .portfolio_img .portfolio_hover p i{
    color: transparent;
    transition: all linear 0.3s;
}


#portfolio .portfolio_main .portfolio_img:hover .portfolio_hover{
    background: #5956E8;
}
#portfolio .portfolio_main .portfolio_img:hover .portfolio_hover h3,
#portfolio .portfolio_main .portfolio_img:hover .portfolio_hover p,
#portfolio .portfolio_main .portfolio_img:hover .portfolio_hover p i{
    color: #fff;
}

/* ================= Portfolio CSS End Here ================= */

/* ================= Team CSS Start Here ================= */
#team{
    padding-top: 100px;
}

#team .team_head{
    text-align: center;
}

#team .team_head h3{
    color: #181818;
    font-family: var(--headlineText);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

#team .team_head p {
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 318px;
}

#team .team_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

#team .team_main .team_img{
    cursor: pointer;
    position: relative;
    transition: all linear 0.3s;
}

#team .team_main .team_img{
    text-align: center;
    transition: all linear 0.3s;
}

#team .team_main .team_img .team_des{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


#team .team_main .team_img .team_des .team_des_text {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    display: none;
}

#team .team_main .team_img .team_des .team_des_text h3 {
    color: #FFF;
    font-family: var(--interFont);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

#team .team_main .team_img .team_des .team_des_text p {
    color: #FFF;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}


#team .team_main .team_img:hover .team_des{
    border-radius: 10px;
    background: linear-gradient(0deg, #5956E8 -1.13%, rgba(255, 255, 255, 0.00) 58.11%);
}

#team .team_main .team_img:hover .team_des .team_des_text{
    display: block;
}

/* ================= Team CSS End Here ================= */

/* ================= Customer CSS Start Here ================= */
#customer{
    padding-top: 100px;
}

#customer .customer_head h3{
    color: #181818;
    font-family: var(--headlineText);
    font-size: 40px;
    font-weight: 700;
    margin-right: 472px;
    padding-bottom: 20px;
}

#customer .customer_head p {
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-right: 628px;
}

#customer .customer_review_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#customer .customer_review_main .review{
    margin-top: 50px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08);
    width: 370px;
    height: 425px;
    padding: 48px 30px;
}

#customer .customer_review_main .review img{
    padding-bottom: 30px;
}

#customer .customer_review_main .review .star i{
    color: #fbbf25;
    padding-bottom: 20px;
}

#customer .customer_review_main .review p{
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 15px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 15px;
    padding-right: 38px;
}

#customer .customer_review_main .review .customer_des{
    display: flex;
    justify-content: space-between;
}

#customer .customer_review_main .review .customer_des .left h3 {
    color: #181818;
    font-family: var(--interFont);
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}

#customer .customer_review_main .review .customer_des .left p {
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

#customer .customer_review_main .review .customer_des .right{
    margin-top: 30px;
}
/* ================= Customer CSS End Here ================= */

/* ================= News CSS Start Here ================= */
#news{
    padding-top: 100px;
    padding-bottom: 100px;
}

#news .news_head{
    text-align: center;
}

#news .news_head h3{
    color: #181818;
    font-family: var(--headlineText);
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
}

#news .news_head p {
    color: #181818b3;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding: 0 318px;
}

#news .news_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#news .news_main .news{
    width: 370px;
    height: 490px;
    border-radius: 10px;
    border: 1px solid #E3E3E3;
    padding: 17px 19px 46px 19px;
    margin-top: 50px;
}

#news .news_main .news .user_date_parent{
    display: flex;
    column-gap: 30px;
}

#news .news_main .news .user_date_parent .user{
    margin-top: 19px;
}

#news .news_main .news .user_date_parent .user i{
    margin-right: 10px;
    color: #5D5D5D;
}

#news .news_main .news .user_date_parent .user p{
    display: inline-block;
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

#news .news_main .news .user_date_parent .post_date{
    margin-top: 19px;
}

#news .news_main .news .user_date_parent .post_date i{
    margin-right: 10px;
    color: #5D5D5D;
}

#news .news_main .news .user_date_parent .post_date p{
    display: inline-block;
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

#news .news_main .news .all_des{
    margin-top: 30px;
}

#news .news_main .news .all_des h3{
    color: #181818;
    font-family: var(--interFont);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    padding-right: 65px;
}

#news .news_main .news .all_des p{
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 10px;
    padding-right: 29px;
}

#news .news_main .news .all_des a{
    color: #5956E8;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 600;
}

/* ================= News CSS End Here ================= */

/* ================= Footer CSS Start Here ================= */
#footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #5956e81a;;
}

#footer .footer_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
}

#footer .footer_main .left img{
    padding-bottom: 15px;
}

#footer .footer_main .left p{
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    padding-bottom: 20px;
    padding-right: 64px;
}

#footer .footer_main .left .social_media a:first-child i{
    padding: 21px 21px;
    border-radius: 50%;
    background: #fff;
    color: #337fff;
    font-size: 16px;
    margin-right: 15px;
    transition: all linear 0.3s;
}

#footer .footer_main .left .social_media a:last-child i{
    padding: 21px 21px;
    border-radius: 50%;
    background: #fff;
    color: #33CCFF;
    font-size: 16px;
    margin-right: 15px;
    transition: all linear 0.3s;
}

#footer .footer_main .left .social_media a:first-child i:hover{
    color: #fff;
    background: #337fff;
}

#footer .footer_main .left .social_media a:last-child i:hover{
    background: #33CCFF;
    color: #fff;
}

#footer .footer_main .footer_menu_main .right{
    display: flex;
    column-gap: 90px;
}

#footer .footer_main .footer_menu_main .right .footer_menu h3{
    color: #181818;
    font-family: var(--interFont);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

#footer .footer_main .footer_menu_main .right .footer_menu ul li{
    padding-bottom: 15px;
}

#footer .footer_main .footer_menu_main .right .footer_menu ul li a{
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    transition: all linear 0.3s;
}

#footer .footer_main .footer_menu_main .right .footer_menu ul li a:hover{
    color: #013a9d;
}

#footer .footer_main .location{
    align-self: start;
    margin-top: 13px;
}

#footer .footer_main .location h3 {
    color: #181818;
    font-family: var(--interFont);
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

#footer .footer_main .location p {
    color: #5D5D5D;
    font-family: var(--interFont);
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
}
/* ================= Footer CSS End Here ================= */